<%- include('./partials/head.ejs')%>
</head>

<body>
  <%- include('./partials/navigation.ejs')%>

  <div class="container">
    <span class="logo_text">Passport</span>
    <h2 style="text-align:center">Passport Local Login System</h2>
    <br>
    <h3>Module of Using In this Site</h3>
    <div class="feature_app">
      <ul>
        <li>express js</li>
        <li>ejs template engine</li>
        <li>mongoose</li>
        <li>passport-local</li>
        <li>express-session</li>
        <li>cookie-session</li>
        <li>latest @hapi/Joi Validator</li>
        <li>bcryptjs</li>
        <li>lodash</li>
      </ul>
      <ul>
        <li>Better Error Handle</li>
        <li>Every input field Validate</li>
        <li>Async and Sync User input Validate</li>
        <li>Protect Route Auth and not Auth</li>
        <li>Clean code with comment</li>
      </ul>
    </div>
  </div>


  <%- include('./partials/end.ejs')%>